<% unless params.valid? %>
  <div class="errors">
    <h3>There was a problem with your submissions</h3>
    <ul>
      <% params.error_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
  </div>
<% end %>

<%=
  form_for :message, '/link' do
    div class: 'heading' do
      h1 'Add New Message'
    end
    div class: 'input' do
      label      :text
      text_area :text, class: 'form-control'
    end
    submit 'Create Message'
  end
%>