<% unless params.valid? %>
  <div class="ui warning message">
    <h3>There was a problem with your submissions</h3>
    <ul>
      <% params.error_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
  </div>
<% end %>

<%=
  form_for :message, '/link', class: "ui form" do
    hidden_field '_csrf_token', value: csrf_token
    div class: 'heading' do
      h3 'Add New Message'
    end
    div class: 'field' do
      label      :text
      text_area :text, rows: 4
    end
    div class: 'field' do
      label      :password
      text_field  :password
    end
    button      'Encrypt', onclick: 'encode();', type: "button", class: "ui grey button"
    div class: 'field' do
      hidden_field :encrypted
    end
    div do
      h3 'Select options for destroy message' 
    end
    div class: 'inline field"' do
      label :hours_to_destroy
      number_field :hours_to_destroy
    end
    div class: 'inline field"' do
      label :visits_limit
      number_field :visits_limit
    end
    submit 'Create Message', class: "ui grey button"
  end
%>