<% unless params.valid? %>
  <div class="errors">
    <h3>There was a problem with your submissions</h3>
    <ul>
      <% params.error_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
  </div>
<% end %>

<%=
  form_for :message, '/link' do
    hidden_field '_csrf_token', value: csrf_token
    div class: 'heading' do
      h3 'Add New Message'
    end
    div class: 'input' do
      label      :text
      text_area :text, class: 'form-control'
    end
    div class: 'input' do
      label      :password
      text_field  :password, class: 'form-control', onkeyup: "encode();"
    end
    div do
      h3 'Select options for destroy message' 
    end
    div class: 'input' do
      label :hours_to_destroy
      number_field :hours_to_destroy
    end
    div class: 'input' do
      label :visits_limit
      number_field :visits_limit
    end
    submit 'Create Message'
  end
%>