<div class="ui form">
  <div class="field">
    <textarea id = "message"><%= message.text %></textarea>
  </div>
  <div class="field">
    <input type = 'text', id = 'password'>
  </div>
  <button onclick="decode();", class = "ui grey button">Show</button>
</div>
